doctype html 
html 
    head 
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css")
        title ini kafka 
        scrip(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js")
    body 
        h1 selamat datang di express JS
        img(src="images/kk.img.png" width = '1000', height = '500')
        a(href='https://id.pinterest.com/pin/24347654228889923/', target='_blank') open sesame

        h2 nama saya #{nama}
        h2 npm saya #{npm}